@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    font-family: 'Roboto', sans-serif;
}

.header {
    padding-bottom: 30%;
    border-bottom: 50px solid #E0E8D4;
    height: 580px;
}

.nav {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    justify-content: end;
    height: max-content;
    padding: 10px;
    border-top: 8vh solid #E0E8D4;
    border-bottom: 10vh solid #E0E8D4;
    background-color: #fff;
    
}

.nav a {
    justify-self: end;
    align-self: center;
    padding-right: 15px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #303737;
}

.nav a:visited {
    color:#5a5454;
}

.nav a:hover {
    color: #788968;
}

.nav img {
    justify-self: center;
    grid-column: 1/6;
}

.header-info {
    display: grid;
    grid-template-columns: 40% 50vw;
    grid-template-rows: 40vh 1fr;
    width: 100%;
    height: 40vh;
    background-color: #E0E8D4;
}

.header-info h1 {
    grid-column: 2/3;
    grid-row: 1/1;
    align-self: end;
    justify-self: center;
    width: 40vw;
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 00.1em;
    text-transform: uppercase;
    color: #788968;
}

.header-info p {
    grid-column: 2/3;
    grid-row: 2/2;
    justify-self: center;
    width: 40vw;
    text-transform: uppercase;
    font-style: normal;
    font-size: 25px;
    line-height: 161.14%;
    color: #9B9B9B;

}

.header-info img {
    grid-column: 1/1;
    justify-self: end;
    width: 30vw;
    margin-right: 10%;
}

.main h2 {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #554F4F;
    background-color: #fff;
}

.main-info {
    display: grid;
    grid-template-columns: 58vw 40%;
    grid-template-rows: 5px 5% 1fr;
    background-color: #F8F8EC;
}


.main-info p {
    grid-column: 1/2;
    grid-row: 3/3;
    justify-self: center;
    align-self: center;
    width: 40vw;
    font-size: 20px;
    line-height: 35px;
    text-transform: uppercase;
    color: #4E4444; 
}

.planet-image {
    grid-column: 2/2;
    grid-row: 3/3;
    align-self: center;
    width: 38vw;
}

.circle-plant-decor {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 20vw;
    margin-left: 20px;
    margin-top: 100px;
}

.sand-pattern-decor {
    grid-column: 1/2;
    grid-row: 3/3;
    align-self: end;
    justify-self: end;
    width: 25vw;
    margin-right: 100px;
    margin-bottom: 100px;
}

.priority {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px;
    height: 1000px;
}

.priority h2 {
    justify-self: center;
    align-self: center;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #554F4F;
}

.priority-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 80vh;
    background-color: #F8F8EC;
}

.priority-info ul {
    display: grid;
    align-content: space-evenly;
    height: 600px;
    list-style-type: none;
    margin: 0;
    line-height: 161.14%;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #635555;
}

.priority-info ul li {
    padding-left: 60px;
    background: url(./assets/heart.svg) 0 0 no-repeat;
}


.priority-info img {
    align-self: end;
    justify-self: center;
    width: 32vw;
    margin-top: 150px;
}


.projects {
    display: grid;
    justify-items: center;
    grid-template-rows: 25% 1fr;
    grid-template-columns: 2fr repeat(auto-fit, minmax(20vh, 1fr)); 
    height: 1200px;   
}


.projects h2 {
   grid-column: 2/3;
   align-self: center;
   padding-top: 8%;
   height: 50%;
   font-weight: 700;
   font-size: 2em;
   letter-spacing: 0.05em;
   text-transform: uppercase;
   color: #554F4F;
   background: url(./assets/gray-pattern-decor.svg) 0 0 no-repeat;

}
.projects div {
    grid-row: 2/2;
}

.projects p {
    width: 350px;
    height: 350px;
    box-sizing: border-box;
    padding: 25px;
    border-radius: 10%;
    font-weight:bold;
    font-size: 22px;
    line-height: 161.14%;
    color: #765F5F;
    background-color: #ffc4c441;
}

.projects img {
    width: 350px;
    height: 350px;
}

.bison {
    justify-self: end;
}

.horse {
    justify-self: start;  
}

.donation {
    display: grid;
    grid-template-rows: 1fr 20% 20% 20%;
    justify-content: center;
    align-content: center;
    margin-bottom: 300px;
    font-weight:bold;
    text-transform: uppercase;
    color: #765F5F;
}

.donation h2 {
    box-sizing: border-box;
    height: 210px;
    width: 520px;
    padding-top: 90px;
    margin-bottom: 60px;
    font-size: 27px;
    text-align: center;
    line-height: 40px;
    background: url(./assets/pink-pattern-decor.svg) 15px 0 no-repeat;
    background-size: 500px 220px;
}

.donation p {
    height: 210px;
    width: 520px;
    font-size: 25px;
    text-align: center;
    line-height: 60px;
}

.donation-button {
    display: grid;
    justify-content: center;
    align-content: center;
}

.kind-button {
    width: 250px;
    height: 80px;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
    color: #FCFDFD;
    background-color: #305553;
}
    
  

.kind-button:hover {
    background-color: rgba(0,0,0,0);
	color: #305553;
	box-shadow: inset 0 0 0 3px #305553;
    font-weight: bold;
}

.donation img {
    width: 520px;
}

.footer {
    display: grid;
    background-color: #E2EDDF;
    height: 200px;
}

.footer-nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;

}

.footer-nav a {
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #303737;
    background-color: #2f921434;
}

.footer-nav a:first-child {
    padding: 10px;
    color: #ebf0e5;
    background-color: #305553e8;
}

.footer-nav a:hover {
    background-color: #2f921456;
}

.footer-nav a:hover:first-child {
    background-color: #305553f6;
}

.author {
    display: grid;
    align-content: end;
    text-align: center;
    color:#54604864;
}